body,
html {
    padding: 0;
    margin: 0;
    border: none;
    background: linear-gradient(to right, #1f4068, #2a7886);
    color: #EEEEEE;
}

h1 {
    background: linear-gradient(to right, #4dc2ff, #0080ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-weight: 900;
    text-align: center;
    font-family: "PT sans", sans-serif;
    font-size: 50px;
}

/* .parent {
    display: flex;
    width: 100%;
    height: fit-content;
} */

#taskForm,
#taskFormSearch,
#taskFormSort,
#taskFormSortDesc,
#displayTask,
#displaySearchSortTask {
    /* display: none; */
    width: 90%;
    border: none;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#displayTask,
#displaySearchSortTask {
    margin-top: 15px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    gap: 90px;
}


.toggle_switch {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
}

.toggle_switch div {
    text-align: center;
    font-size: 20px;
    font-family: "PT sans", sans-serif;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: calc(18.5% - 20px);
    /* 4 cards per row for laptops */
    margin-bottom: 20px;
    cursor: grab;
}

@media (max-width: 1024px) {
    .card {
        width: calc(33.33% - 20px);
        /* 3 cards per row for smaller laptops */
    }
}

@media (max-width: 767px) {
    .card {
        width: calc(100% - 20px);
        /* 1 card per row for mobile devices */
    }
}

.card h2.title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card .info {
    font-size: 16px;
    color: #666;
}

.card .info .card_tag {
    overflow-x: auto;
    white-space: nowrap;
}

.subtask-list {
    max-height: 100px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.buttons button {
    padding: 8px 12px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    width: 50%;
}

.buttons .edit-button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.buttons .delete-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.complete_button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: darkslategray;
    margin-top: 5px;
    width: 100%;
}

.edit-button {
    background-color: #4d8eac;
    /* background-color: #4CAF50; */
}

.delete-button {
    background-color: #f44336;
}

.drag-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    width: 50%;
    background-color: #2196F3;
    margin-top: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 25px;
    }

    /* #taskForm {
        width: 98%;
        height: 60px;
        margin-bottom: 10px;
    } */
}

.text_area {
    display: flex;
    width: 100%;
    text-align: center;
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: rgba(47, 47, 47, 0.5);
    color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .text_area {
        margin-right: 1px;
        font-size: 12px;
    }
}

.text_area:focus {
    outline: none;
}

.form_data {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.form_line_1 {
    display: flex;
    justify-content: space-between;
}

select,
input {
    text-align: center;
    font-family: "PT sans", sans-serif;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.input_portion {
    width: 20%;
}

.input_portion div {
    font-size: 20px;
    font-family: "PT sans", sans-serif;
    font-weight: bold;
}




.input_portion select,
input {
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
    background: rgba(47, 47, 47, 0.5);
    color: #fff;
    font-size: 15px;
    font-family: "PT sans", sans-serif;
}

@media screen and (max-width: 768px) {
    .input_portion div {
        font-size: 10px;
    }

    .input_portion select {
        font-size: 10px;
    }

    .input_portion input {
        font-size: 7px;
    }
}

option {
    padding: 10px 5px;
    color: #fff;
    background: rgba(47, 47, 47, 0.5);
}

.tag_container {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.tag_text {
    padding: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 5px;
}

.tag_text::placeholder {
    color: #acaaaa;
    font-size: 20px;
    font-family: "PT sans", sans-serif;
    text-align: center;
    font-weight: 100;
}

@media screen and (max-width: 768px) {

    .tag_text::placeholder {
        font-size: 10px;
    }
}


.tag_container button {
    border-radius: 10px;
    border: none;
    padding: none;
    background: rgba(47, 47, 47, 0.5);
    color: #fff;
    font-size: 15px;
    font-family: "PT sans", sans-serif;
    height: 50px;
    margin-top: auto;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.tag_display {
    display: flex;
    border-radius: 10px;
    border: none;
    padding: none;
    background: rgba(47, 47, 47, 0.5);
    width: 70%;
    height: 50px;
    margin-top: auto;
    color: #acaaaa;
    font-size: 20px;
    font-family: "PT sans", sans-serif;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.tag_display:focus {
    outline: none;
}

.tag_display::-webkit-scrollbar {
    width: 10px;
    margin-top: 10px;
}

.tag_display::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.tag_display::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
}

.tag_display::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

@media screen and (max-width: 768px) {
    .tag_display {
        font-size: 10px;
    }
}


.tag_bar {
    display: flex;
    border: 0.5px solid #908d8d;
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 1.5px;
    margin-right: 1.5px;
}

.tag_bar_content {
    width: 20%;
    color: #fff;
    font-size: 20px;
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
}

.tag_bar_delete {
    color: rgba(247, 5, 5, 0.5);
    font-size: 20px;
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    border-left: 0.5px solid #908d8d;
    padding: 4px;
}


.save_submit {
    height: 50px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.task_submit {
    margin: 0;
    height: 100%;
    width: 20%;
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(47, 47, 47, 0.5);
    cursor: pointer;
}

.end {
    width: 50%;
    margin-left: auto;
    justify-content: space-between;
}

.end .task_submit {
    width: 40%;
}

.endSort {
    justify-content: end;
}

#reset_search {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#subtasks_button {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .text_area {
        font-size: 15px;
    }

    .task_submit,
    #save_data {
        height: 70%;
        width: 18%;
        font-size: 12px;
        border-radius: 15px;
    }

    .task_submit {
        margin-right: 5px;
    }

}

/* .progress-bar {
    width: 90%;
    height: 30px;
    background-color: #f0f0f0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid 4px;
}

.progress {
    width: 0;
    height: 100%;
    background-image:
        linear-gradient(45deg, #007fbb 25%, #00a6cc 50%, #00a6cc 75%, transparent),
        linear-gradient(45deg, #00a6cc 25%, #00a6cc 50%, #00c3e6 50%, #00c3e6 75%, transparent);
    animation: load 3s normal forwards;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    border-radius: 20px;
} */

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 68%;
    }
}

.completed {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    .progress-bar {
        height: 15px;
    }

    .completed {
        font-size: 18px;
    }
}

.task_grandpa {
    margin-bottom: 12px;
}

.task,
.task2 {
    display: flex;
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.task2 {
    justify-content: space-between;
    height: 50px;
    margin-top: 5px;
}

.task_tot {
    width: 10%;
}

.task_text {
    text-align: center;
    height: 20px;
}

.task_text_button {
    border: none;
    border-radius: 5px;
    background-color: rgba(47, 47, 47, 0.5);
    text-align: center;
    height: 30px;
}

.task_full_task {
    width: 15%;
    height: 50px;
    display: flex;
    border: none;
    border-radius: 5px;
    background-color: rgba(47, 47, 47, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

@media screen and (max-width: 768px) {

    .task,
    .task2 {
        width: 95%;
    }

    .task_text,
    .task_text_button,
    .task_full_task {
        font-size: 8px;
    }
}

@media screen and (max-width: 321px) {

    .task,
    .task2 {
        width: 95%;
        margin-left: 3.8px;
    }

    .task_text,
    .task_text_button,
    .task_full_task {
        font-size: 8px;
    }
}

.task_field {
    display: flex;
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(47, 47, 47, 0.5);
    backdrop-filter: blur(80px);
    margin-left: auto;
    margin-right: auto;
}

.task_content {
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500px;
    border-radius: 10px;
    margin-left: 20px;
}

.task_content:focus {
    outline: none;
}

.task_content::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}

.task_content::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.task_content::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
}

.task_content::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

@media screen and (max-width: 768px) {
    .task_content {
        font-size: 10px;
        font-weight: normal;
    }

    .task_content::-webkit-scrollbar {
        width: 5px;
        margin-right: 5px;
    }
}

.task_delete_button,
.task_edit_button {
    border: none;
    border-radius: 10px;
    background: none;
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    font-size: 17px;
    cursor: pointer;
    width: 100px;
}

.task_delete_button {
    background: linear-gradient(to left, #f36969, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task_edit_button {
    background: linear-gradient(to right, #4dc2ff, #0080ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {

    .task_delete_button,
    .task_edit_button {
        font-size: 13px;
        width: 50px;
    }
}

.task_status {
    display: flex;
    width: 30%;
}

.task_status_content {
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* width: 40%; */
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .task_status_content {
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        margin-right: 5px;
    }
}

.task_status_tick,
.task_status_cross {
    border: none;
    /* background: none; */
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    font-size: 17px;
    cursor: pointer;
    width: 10%;
    background-color: rgba(47, 47, 47, 0.5);
}

.task_status_tick {
    border-radius: 10px 0 0 10px;
    margin-right: 10px;
    color: green;
}

.task_status_cross {
    border-radius: 0 10px 10px 0;
    color: red;
}

@media screen and (max-width: 768px) {

    .task_status_tick,
    .task_status_cross {
        width: 30%;
    }

    .task_status_tick {
        margin-right: 5px;
    }
}

.task3 {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.task_display {
    text-align: center;
    width: 50%;
    /* background-color: red; */
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    .task_display {
        font-size: 10px;
    }
}

.task_display_button {
    border: none;
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    font-size: 17px;
    cursor: pointer;
    width: 10%;
    color: #fff;
    background-color: rgba(47, 47, 47, 0.5);
    margin-left: 10px;
}

.task_display_content {
    height: 100px;
    /* display: none; */
    /* background-color: blue; */
    overflow-y: auto;
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    font-size: 17px;
}

.task_display_item {
    text-align: center;
    font-family: "PT sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.modal,
.editmodal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 47, 47, 0.5);
    z-index: 100;
    overflow-y: auto;
}

#editModelInput {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.editmodal h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.editmodal .save_submit {
    justify-content: end;
}

.modal h1 {
    margin: 0;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #1f4068, #2a7886);
    width: 80%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.textarea_flex {
    display: flex;
    height: 50px;
    margin-bottom: 10px;
    justify-content: center;
}

#text_area_subtasks,
#text_area_subtasks2 {
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.textarea_flex button {
    height: 100%;
    border-radius: 7px;
    border: none;
    padding: none;
    background: rgba(47, 47, 47, 0.5);
    color: green;
    font-size: 20px;
    font-family: "PT sans", sans-serif;
    font-weight: 900;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.subtasks {
    width: 100%;
    height: 70%;
    overflow: auto;
}

.subtask_bar {
    width: 90%;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.subtask_bar div {
    width: 50%;
    color: #fff;
    font-size: 20px;
    font-family: "PT sans", sans-serif;
}

.subtask_bar button {
    height: fit-content;
    color: #fff;
    font-size: 20px;
    font-family: "PT sans", sans-serif;
    border-radius: 5px;
    border: none;
    padding: none;
    background: rgba(47, 47, 47, 0.5);
    width: 15%;
    margin-right: 10px;
    cursor: pointer;
}

.submit_subtasks,
.submit_edit_modal {
    position: absolute;
    bottom: 1px;
    right: 10px;
    font-size: 25px;
    font-family: "PT sans", sans-serif;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: none;
    background: rgba(47, 47, 47, 0.5);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .textarea_flex {
        height: 25px;
    }

    #text_area_subtasks,
    #text_area_subtasks2 {
        font-size: 15px;
    }

    .modal h1 {
        font-size: 20px;
    }

    .textarea_flex button {
        font-size: 10px;
    }

    .subtasks {
        height: 60%;
    }

    .subtask_bar {
        width: 90%;
        display: flex;
        margin-left: 15px;
        margin-bottom: 5px;
    }

    .subtask_bar div {
        width: 50%;
        color: #fff;
        font-size: 10px;
        font-family: "PT sans", sans-serif;
        border: none;
        border-radius: 5px;
    }

    .subtask_bar button {
        font-size: 10px;
        width: 20%;
    }

    .submit_subtasks,
    .submit_edit_modal {
        font-size: 12px;
        right: 4px;
    }
}

.close {
    display: flex;
    width: 100%;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    justify-content: right;
}